@media screen and (max-width: 736px) {
  .desktop-only {
    display: none !important;
  }
}

@media screen and (min-width: 737px) {
  .mobile-only {
    display: none !important;
  }
}

.row-column {
  display: flex;
}
@media screen and (min-width: 737px) {
  .row-column {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;
  }
}
@media screen and (max-width: 736px) {
  .row-column {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
  }
}

.responsive-picture {
  bottom: 0px;
  opacity: 0.5;
}
.responsive-picture:hover {
  opacity: 1;
}
@media screen and (min-width: 737px) {
  .responsive-picture {
    width: 30vw;
  }
}
@media screen and (max-width: 736px) {
  .responsive-picture {
    height: 40vh;
  }
}

.bob-on-hover:hover {
  animation: bobbing 0.5s infinite alternate;
}

.change-on-hover .primary {
  display: block;
}
.change-on-hover .secondary {
  display: none;
}
.change-on-hover:hover .primary {
  display: none;
}
.change-on-hover:hover .secondary {
  display: block;
}

@media screen and (min-width: 737px) {
  .responsive-padding {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    padding-bottom: 10%;
  }
}
@media screen and (max-width: 736px) {
  .responsive-padding {
    padding: 10%;
  }
}

.grey-on-hover:hover {
  color: grey;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  transition: 0.5s ease-in-out;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.footer {
  background: rgba(0, 0, 0, 0.9);
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
}

.footer-text-container {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer-icons-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-icons-container div {
  width: 70%;
}
.footer-icons-container div * {
  color: white;
  font-size: xx-large;
}

.footer-text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-text-container ul li {
  margin-left: 2vw;
  margin-right: 2vw;
}
@media screen and (max-width: 736px) {
  .footer-text-container {
    text-align: center;
  }
  .footer-text-container ul li {
    margin-bottom: 5vh;
  }
}
@media screen and (min-width: 737px) {
  .footer-text-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 80%;
  }
}

.footer-text-container a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer-text-container a:hover {
  color: #fff;
}

@keyframes bobbing {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
@keyframes fading-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fading-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.animation-fading-in-absolute {
  animation: fading-in 3s infinite alternate;
  position: absolute;
}

.animation-fading-out-absolute {
  animation: fading-out 3s infinite alternate;
  position: absolute;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgb(255, 255, 255);
  position: relative;
  width: 100%;
  background: #698cde url("./overlay.png") repeat scroll 0% 0%/auto padding-box border-box;
  padding: 50px 0px 0px;
  bottom: 0;
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.5);
}
.wrapper .title {
  color: rgb(255, 255, 255);
  letter-spacing: 3.6px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  text-wrap: nowrap;
  top: -46.8px;
  background: #698cde url("./overlay.png") repeat scroll 0% 0%/auto padding-box border-box;
  font: 700 14.4px/46.8px "Source Sans Pro", sans-serif;
  width: 360px;
  padding: 7.2px;
}
.wrapper .title:after {
  content: "";
  display: block;
  height: 38px;
  position: absolute;
  right: -35px;
  top: 46.8px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 35px;
  background: rgba(0, 0, 0, 0) url("./shadow.png") repeat scroll 0% 0%/auto padding-box border-box;
}
@media screen and (max-width: 736px) {
  .wrapper .title:after {
    display: none;
  }
}
.wrapper .title:before {
  content: "";
  display: block;
  height: 38px;
  left: -35px;
  position: absolute;
  top: 46.8px;
  width: 35px;
  background: rgba(0, 0, 0, 0) url("./shadow.png") repeat scroll 0% 0%/auto padding-box border-box;
}
@media screen and (max-width: 736px) {
  .wrapper .title:before {
    display: none;
  }
}
@media screen and (max-width: 736px) {
  .wrapper .title {
    max-width: 70vw;
  }
}
@media screen and (max-width: 736px) {
  .wrapper .divider-bottom-image {
    max-width: 70vw;
  }
}
@media screen and (min-width: 737px) {
  .wrapper .divider-bottom-image {
    height: 30vh;
    bottom: 0px;
    z-index: 2;
  }
}
@media screen and (max-width: 736px) {
  .wrapper .divider-bottom-image-framed {
    max-width: 70vw;
  }
}
@media screen and (min-width: 737px) {
  .wrapper .divider-bottom-image-framed {
    height: 25vh;
    width: 35vh;
    z-index: 2;
    margin-bottom: 5vh;
    border: 10px solid white;
    box-shadow: 5px 5px 2px -2px rgba(0, 0, 0, 0.3);
  }
}

.wrapper.light-blue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgb(255, 255, 255);
  position: relative;
  width: 100%;
  background: #CCE7FD url("./overlay.png") repeat scroll 0% 0%/auto padding-box border-box;
  padding: 50px 0px 0px;
  bottom: 0;
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.8);
}
.wrapper.light-blue .title {
  color: rgb(255, 255, 255);
  letter-spacing: 3.6px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  text-wrap: nowrap;
  top: -46.8px;
  background: #CCE7FD url("./overlay.png") repeat scroll 0% 0%/auto padding-box border-box;
  font: 700 14.4px/46.8px "Source Sans Pro", sans-serif;
  width: 360px;
  padding: 7.2px;
}
.wrapper.light-blue .title:after {
  content: "";
  display: block;
  height: 38px;
  position: absolute;
  right: -35px;
  top: 46.8px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 35px;
  background: rgba(0, 0, 0, 0) url("./shadow.png") repeat scroll 0% 0%/auto padding-box border-box;
}
@media screen and (max-width: 736px) {
  .wrapper.light-blue .title:after {
    display: none;
  }
}
.wrapper.light-blue .title:before {
  content: "";
  display: block;
  height: 38px;
  left: -35px;
  position: absolute;
  top: 46.8px;
  width: 35px;
  background: rgba(0, 0, 0, 0) url("./shadow.png") repeat scroll 0% 0%/auto padding-box border-box;
}
@media screen and (max-width: 736px) {
  .wrapper.light-blue .title:before {
    display: none;
  }
}
@media screen and (max-width: 736px) {
  .wrapper.light-blue .title {
    max-width: 70vw;
  }
}
@media screen and (max-width: 736px) {
  .wrapper.light-blue .divider-bottom-image {
    max-width: 70vw;
  }
}
@media screen and (min-width: 737px) {
  .wrapper.light-blue .divider-bottom-image {
    height: 30vh;
    bottom: 0px;
    z-index: 2;
  }
}
@media screen and (max-width: 736px) {
  .wrapper.light-blue .divider-bottom-image-framed {
    max-width: 70vw;
  }
}
@media screen and (min-width: 737px) {
  .wrapper.light-blue .divider-bottom-image-framed {
    height: 25vh;
    width: 35vh;
    z-index: 2;
    margin-bottom: 5vh;
    border: 10px solid white;
    box-shadow: 5px 5px 2px -2px rgba(0, 0, 0, 0.3);
  }
}
.wrapper.light-blue .title {
  color: rgba(0, 0, 0, 0.8);
}

.wrapper.red {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgb(255, 255, 255);
  position: relative;
  width: 100%;
  background: rgb(255, 0, 0) url("./overlay.png") repeat scroll 0% 0%/auto padding-box border-box;
  padding: 50px 0px 0px;
  bottom: 0;
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.5);
}
.wrapper.red .title {
  color: rgb(255, 255, 255);
  letter-spacing: 3.6px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  text-wrap: nowrap;
  top: -46.8px;
  background: rgb(255, 0, 0) url("./overlay.png") repeat scroll 0% 0%/auto padding-box border-box;
  font: 700 14.4px/46.8px "Source Sans Pro", sans-serif;
  width: 360px;
  padding: 7.2px;
}
.wrapper.red .title:after {
  content: "";
  display: block;
  height: 38px;
  position: absolute;
  right: -35px;
  top: 46.8px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 35px;
  background: rgba(0, 0, 0, 0) url("./shadow.png") repeat scroll 0% 0%/auto padding-box border-box;
}
@media screen and (max-width: 736px) {
  .wrapper.red .title:after {
    display: none;
  }
}
.wrapper.red .title:before {
  content: "";
  display: block;
  height: 38px;
  left: -35px;
  position: absolute;
  top: 46.8px;
  width: 35px;
  background: rgba(0, 0, 0, 0) url("./shadow.png") repeat scroll 0% 0%/auto padding-box border-box;
}
@media screen and (max-width: 736px) {
  .wrapper.red .title:before {
    display: none;
  }
}
@media screen and (max-width: 736px) {
  .wrapper.red .title {
    max-width: 70vw;
  }
}
@media screen and (max-width: 736px) {
  .wrapper.red .divider-bottom-image {
    max-width: 70vw;
  }
}
@media screen and (min-width: 737px) {
  .wrapper.red .divider-bottom-image {
    height: 30vh;
    bottom: 0px;
    z-index: 2;
  }
}
@media screen and (max-width: 736px) {
  .wrapper.red .divider-bottom-image-framed {
    max-width: 70vw;
  }
}
@media screen and (min-width: 737px) {
  .wrapper.red .divider-bottom-image-framed {
    height: 25vh;
    width: 35vh;
    z-index: 2;
    margin-bottom: 5vh;
    border: 10px solid white;
    box-shadow: 5px 5px 2px -2px rgba(0, 0, 0, 0.3);
  }
}

.wrapper.black {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgb(255, 255, 255);
  position: relative;
  width: 100%;
  background: rgb(40, 40, 40) url("./overlay.png") repeat scroll 0% 0%/auto padding-box border-box;
  padding: 50px 0px 0px;
  bottom: 0;
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.5);
}
.wrapper.black .title {
  color: rgb(255, 255, 255);
  letter-spacing: 3.6px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  text-wrap: nowrap;
  top: -46.8px;
  background: rgb(40, 40, 40) url("./overlay.png") repeat scroll 0% 0%/auto padding-box border-box;
  font: 700 14.4px/46.8px "Source Sans Pro", sans-serif;
  width: 360px;
  padding: 7.2px;
}
.wrapper.black .title:after {
  content: "";
  display: block;
  height: 38px;
  position: absolute;
  right: -35px;
  top: 46.8px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 35px;
  background: rgba(0, 0, 0, 0) url("./shadow.png") repeat scroll 0% 0%/auto padding-box border-box;
}
@media screen and (max-width: 736px) {
  .wrapper.black .title:after {
    display: none;
  }
}
.wrapper.black .title:before {
  content: "";
  display: block;
  height: 38px;
  left: -35px;
  position: absolute;
  top: 46.8px;
  width: 35px;
  background: rgba(0, 0, 0, 0) url("./shadow.png") repeat scroll 0% 0%/auto padding-box border-box;
}
@media screen and (max-width: 736px) {
  .wrapper.black .title:before {
    display: none;
  }
}
@media screen and (max-width: 736px) {
  .wrapper.black .title {
    max-width: 70vw;
  }
}
@media screen and (max-width: 736px) {
  .wrapper.black .divider-bottom-image {
    max-width: 70vw;
  }
}
@media screen and (min-width: 737px) {
  .wrapper.black .divider-bottom-image {
    height: 30vh;
    bottom: 0px;
    z-index: 2;
  }
}
@media screen and (max-width: 736px) {
  .wrapper.black .divider-bottom-image-framed {
    max-width: 70vw;
  }
}
@media screen and (min-width: 737px) {
  .wrapper.black .divider-bottom-image-framed {
    height: 25vh;
    width: 35vh;
    z-index: 2;
    margin-bottom: 5vh;
    border: 10px solid white;
    box-shadow: 5px 5px 2px -2px rgba(0, 0, 0, 0.3);
  }
}

.blank-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0px 10% 5% 10%;
  align-items: center;
  justify-content: center;
}
.blank-container h1 {
  margin: 5vh;
}
@media screen and (max-width: 736px) {
  .blank-container {
    padding: 0 10% 12% 10%;
  }
}

.header-contact-image {
  background-image: linear-gradient(rgba(0, 0, 255, 0.3), rgba(0, 0, 255, 0.3)), url("../../../public/Images/teen2.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: brightness(0.85) blur(2px);
}

.header-contact h1 {
  position: absolute;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
  font-size: 7vw;
}
.header-contact h1:hover {
  color: antiquewhite;
}
@media screen and (max-width: 736px) {
  .header-contact h1 {
    font-size: 20vw;
  }
  .header-contact h1:hover {
    font-size: 21vw;
  }
}

.contact-body {
  background-size: cover;
  width: 100%;
  height: 100%;
}
.contact-body * {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.contact-button {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 20px;
}
.contact-button:hover {
  animation: bobbing 0.5s infinite alternate;
}

.contact-button-icon {
  border-radius: 10px 0px 0px 10px !important;
  border: none !important;
  width: 3.5rem;
  height: 3.5rem;
}

.contact-button-text {
  border-radius: 0px 10px 10px 0px !important;
  border: none !important;
  width: 9rem;
  height: 3.5rem;
}

.whatsapp-api-button {
  width: 100px;
  height: 100px;
  z-index: 999;
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: 0.5s ease-in-out;
  /* 
    & :hover{
      width: 110px;
      height: 110px;
    } */
}
@media screen and (max-width: 736px) {
  .whatsapp-api-button {
    right: 12px;
    bottom: 14px;
    width: 70px;
    height: 70px;
  }
}

.icon-button .icon-container {
  inline-size: 5.25rem;
  padding: 1rem;
  border-radius: 0.30625rem 0 0 0.30625rem;
  display: flex;
  align-items: center;
}
.icon-button .icon-container img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(177deg) brightness(104%) contrast(102%);
  width: 3rem;
  height: 3rem;
}
@media screen and (max-width: 736px) {
  .icon-button .icon-container img {
    height: 2rem;
    width: 2rem;
  }
}

.icon-button .text-container {
  height: 5rem;
  border-radius: 0 0.30625rem 0.30625rem 0;
  width: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 736px) {
  .icon-button .text-container {
    height: 4rem;
  }
}

.icon-button.orange .icon-container {
  background: rgb(255, 126, 57);
}
.icon-button.orange .text-container {
  background: rgb(255, 145, 73);
}

.icon-button.lime .icon-container {
  background: #1ec481;
}
.icon-button.lime .text-container {
  background: #28d094;
}

.icon-button.purple .icon-container {
  background: #535be2;
}
.icon-button.purple .text-container {
  background: #666ee8;
}

.icon-button.blue .icon-container {
  background: #168dee;
}
.icon-button.blue .text-container {
  background: #1e9ff2;
}

.icon-container-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between !important;
  max-width: 20vw;
  transform: scale(0.9);
  text-align: center;
}
@media screen and (max-width: 736px) {
  .icon-container-parent h5 {
    width: 80vw;
    text-align: center;
  }
}

.icon-container-circle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid rgb(13, 120, 165);
  border-radius: 50%;
  padding: 10vh;
  transition: 0.2s ease-in-out;
}
.icon-container-circle:hover {
  border: 10px solid rgb(103, 210, 255);
}
.icon-container-circle:hover .icon-container-filled-circle {
  background-color: rgb(103, 210, 255);
}

.icon-container-filled-circle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 7vh;
  transition: 0.2s ease-in-out;
  background-color: rgb(13, 120, 165);
}
.icon-container-filled-circle img {
  filter: invert(100%) sepia(80%) saturate(0%) hue-rotate(3deg) brightness(111%) contrast(101%);
  width: 10vh;
  height: 10vh;
}

.section-subtitle {
  color: orange;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  text-align: center;
  z-index: 3;
}

.section-paragraph {
  max-width: 30%;
  text-align: center;
  z-index: 3;
}
@media screen and (max-width: 736px) {
  .section-paragraph {
    max-width: 80%;
  }
}

.section-logo {
  filter: invert(81%) sepia(21%) saturate(2424%) hue-rotate(338deg) brightness(98%) contrast(97%) drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
  width: 40px;
  height: 40px;
  margin-bottom: 1vw;
  z-index: 3;
}

.title {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border: rgba(128, 128, 128, 0.4) 1px solid;
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.5);
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.4);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  transition: 0.5s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
  transition: 0.5s ease-in-out;
}

.semicircle {
  position: absolute;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: white;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
}

.semicircle-shadow {
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.5);
}

#scrollButton {
  z-index: 3;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  border: 3px solid rgb(103, 210, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
#scrollButton:hover {
  border: 3px solid white;
}
#scrollButton img {
  width: 70%;
  height: 70%;
  filter: invert(33%) sepia(72%) saturate(1670%) hue-rotate(159deg) brightness(100%) contrast(102%);
  animation: bobbing 0.5s infinite alternate;
}
#scrollButton img:hover {
  width: 80%;
  height: 80%;
}

@media screen and (min-width: 737px) {
  #nav {
    display: block;
    left: 0;
    width: 100%;
    text-align: center;
    transition: all 0.5s ease-out;
    z-index: 20;
  }
  #nav ul {
    transition: all 0.5s ease-out;
    white-space: nowrap;
    display: inline-block;
  }
  #nav ul li {
    display: inline-block;
    text-align: center;
    padding: 0 1.5em 0 1.5em;
  }
  #nav ul li a,
  #nav ul li span {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.7em;
    letter-spacing: 0.25em;
    height: 5em;
    line-height: 5em;
    outline: 0;
    transition: all 0.5s ease-out;
  }
  #nav ul li a:hover,
  #nav ul li span:hover {
    color: orange !important;
  }
  #nav.sticky {
    position: fixed;
  }
  #nav.sticky ul {
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.4);
  }
  #nav.sticky ul:hover {
    background-color: rgba(0, 0, 0, 0.85);
  }
  #nav.sticky ul li a {
    color: white;
    z-index: 3;
  }
  #nav.sticky2 {
    position: fixed;
    transform: translateY(10vh);
  }
  #nav.sticky2 ul {
    width: 775px;
    backdrop-filter: blur(10px);
    border-radius: 0.35em;
    box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
    background-color: rgba(0, 0, 0, 0.4);
  }
  #nav.sticky2 ul:hover {
    background-color: rgba(0, 0, 0, 0.85);
  }
  #nav.sticky2 ul li a {
    z-index: 3;
  }
  #nav.static {
    position: fixed;
  }
  #nav.static ul {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    padding: 1vh;
    background-color: rgba(255, 255, 255, 0.6);
  }
  #nav.static ul:hover {
    background-color: rgb(255, 255, 255);
  }
  #nav.static ul li a {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.25em;
    height: 5em;
    line-height: 5em;
    outline: 0;
    color: black;
  }
}
@media screen and (max-width: 736px) {
  #nav {
    display: none;
  }
}
.header .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#SECTION_3 {
  border-block-end-color: rgba(255, 255, 255, 0.75);
  border-block-start-color: rgba(255, 255, 255, 0.75);
  border-end-end-radius: 25px;
  border-end-start-radius: 25px;
  border-inline-end-color: rgba(255, 255, 255, 0.75);
  border-inline-start-color: rgba(255, 255, 255, 0.75);
  border-start-end-radius: 25px;
  border-start-start-radius: 25px;
  box-sizing: border-box;
  caret-color: rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
  column-rule-color: rgba(255, 255, 255, 0.75);
  inline-size: 720px;
  letter-spacing: 0.24px;
  margin-inline-end: 120px;
  margin-inline-start: 120px;
  max-inline-size: 720px;
  max-width: 720px;
  padding-block-start: 20px;
  padding-inline-end: 15px;
  padding-inline-start: 15px;
  perspective-origin: 360px 481.725px;
  text-align: left;
  text-decoration: none solid rgba(255, 255, 255, 0.75);
  text-emphasis-color: rgba(255, 255, 255, 0.75);
  text-size-adjust: 100%;
  transform-origin: 360px 481.731px;
  width: 720px;
  background: rgb(0, 157, 205) none repeat scroll 0% 0%/auto padding-box border-box;
  border: 0px none rgba(255, 255, 255, 0.75);
  border-radius: 25px;
  font: 16px/24px "Source Sans Pro", sans-serif;
  margin: 0px 120px;
  outline: rgba(255, 255, 255, 0.75) none 0px;
  padding: 20px 15px 0px;
} /*#SECTION_3*/
#DIV_4 {
  border-block-end-color: rgba(255, 255, 255, 0.75);
  border-block-start-color: rgba(255, 255, 255, 0.75);
  border-inline-end-color: rgba(255, 255, 255, 0.75);
  border-inline-start-color: rgba(255, 255, 255, 0.75);
  box-sizing: border-box;
  caret-color: rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
  column-rule-color: rgba(255, 255, 255, 0.75);
  inline-size: 690px;
  letter-spacing: 0.24px;
  padding-inline-end: 15px;
  padding-inline-start: 15px;
  perspective-origin: 345px 489.225px;
  text-align: left;
  text-decoration: none solid rgba(255, 255, 255, 0.75);
  text-emphasis-color: rgba(255, 255, 255, 0.75);
  text-size-adjust: 100%;
  transform-origin: 345px 489.231px;
  width: 690px;
  border: 0px none rgba(255, 255, 255, 0.75);
  font: 16px/24px "Source Sans Pro", sans-serif;
  outline: rgba(255, 255, 255, 0.75) none 0px;
  padding: 0px 15px;
} /*#DIV_4*/
#DIV_5 {
  border-block-end-color: rgba(0, 0, 0, 0);
  border-block-end-style: solid;
  border-block-end-width: 0.8px;
  border-block-start-color: rgba(255, 255, 255, 0.75);
  border-inline-end-color: rgba(255, 255, 255, 0.75);
  border-inline-start-color: rgba(255, 255, 255, 0.75);
  box-sizing: border-box;
  caret-color: rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
  column-rule-color: rgba(255, 255, 255, 0.75);
  display: flex;
  inline-size: 695px;
  justify-content: center;
  letter-spacing: 0.24px;
  margin-block-end: -1px;
  margin-block-start: -35px;
  margin-inline-start: -35px;
  perspective-origin: 347.5px 489.225px;
  text-align: left;
  text-decoration: none solid rgba(255, 255, 255, 0.75);
  text-emphasis-color: rgba(255, 255, 255, 0.75);
  text-size-adjust: 100%;
  transform-origin: 347.5px 489.231px;
  width: 695px;
  border-top: 0px none rgba(255, 255, 255, 0.75);
  border-right: 0px none rgba(255, 255, 255, 0.75);
  border-bottom: 0.8px solid rgba(0, 0, 0, 0);
  border-left: 0px none rgba(255, 255, 255, 0.75);
  flex-flow: row wrap;
  font: 16px/24px "Source Sans Pro", sans-serif;
  margin: -35px 0px -1px -35px;
  outline: rgba(255, 255, 255, 0.75) none 0px;
} /*#DIV_5*/
#DIV_6 {
  border-block-end-color: rgba(255, 255, 255, 0.75);
  border-block-start-color: rgba(255, 255, 255, 0.75);
  border-inline-end-color: rgba(255, 255, 255, 0.75);
  border-inline-start-color: rgba(255, 255, 255, 0.75);
  bottom: 0px;
  box-sizing: border-box;
  caret-color: rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
  column-rule-color: rgba(255, 255, 255, 0.75);
  float: left;
  inline-size: 231.663px;
  inset-block-end: 0px;
  inset-block-start: 0px;
  inset-inline-end: 0px;
  inset-inline-start: 0px;
  left: 0px;
  letter-spacing: 0.24px;
  max-inline-size: 33.3333%;
  max-width: 33.3333%;
  min-block-size: auto;
  min-height: auto;
  min-inline-size: auto;
  min-width: auto;
  padding-block-start: 35px;
  padding-inline-start: 35px;
  perspective-origin: 115.825px 488.825px;
  position: relative;
  right: 0px;
  text-align: center;
  text-decoration: none solid rgba(255, 255, 255, 0.75);
  text-emphasis-color: rgba(255, 255, 255, 0.75);
  text-size-adjust: 100%;
  top: 0px;
  transform-origin: 115.831px 488.831px;
  width: 231.663px;
  border: 0px none rgba(255, 255, 255, 0.75);
  flex: 0 0 33.3333%;
  font: 16px/24px "Source Sans Pro", sans-serif;
  outline: rgba(255, 255, 255, 0.75) none 0px;
  padding: 35px 0px 0px 35px;
} /*#DIV_6*/
#A_8 {
  border-block-end-color: rgb(255, 255, 255);
  border-block-start-color: rgb(255, 255, 255);
  border-inline-end-color: rgb(255, 255, 255);
  border-inline-start-color: rgb(255, 255, 255);
  box-sizing: border-box;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  column-rule-color: rgb(255, 255, 255);
  letter-spacing: 0.24px;
  perspective-origin: 0px 0px;
  text-align: center;
  text-decoration: underline solid rgb(255, 255, 255);
  text-emphasis-color: rgb(255, 255, 255);
  text-size-adjust: 100%;
  transform-origin: 0px 0px;
  border: 0px none rgb(255, 255, 255);
  font: 16px/24px "Source Sans Pro", sans-serif;
  outline: rgb(255, 255, 255) none 0px;
  transition: color 0.25s ease-in-out 0s;
} /*#A_8*/
#BUTTON_9 {
  appearance: button;
  block-size: 52px;
  border-block-end-color: rgb(248, 249, 250);
  border-block-end-style: solid;
  border-block-end-width: 0.8px;
  border-block-start-color: rgb(248, 249, 250);
  border-block-start-style: solid;
  border-block-start-width: 0.8px;
  border-end-end-radius: 3.2px;
  border-end-start-radius: 3.2px;
  border-inline-end-color: rgb(248, 249, 250);
  border-inline-end-style: solid;
  border-inline-end-width: 0.8px;
  border-inline-start-color: rgb(248, 249, 250);
  border-inline-start-style: solid;
  border-inline-start-width: 0.8px;
  border-start-end-radius: 3.2px;
  border-start-start-radius: 3.2px;
  caret-color: rgb(33, 37, 41);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  cursor: pointer;
  inline-size: 185.038px;
  letter-spacing: 3.25px;
  margin-block-end: 8px;
  margin-block-start: 8px;
  min-inline-size: 156px;
  min-width: 156px;
  padding-block-end: 4px;
  padding-block-start: 4px;
  padding-inline-end: 16px;
  padding-inline-start: 16px;
  perspective-origin: 92.5125px 26px;
  text-decoration: none solid rgb(33, 37, 41);
  text-emphasis-color: rgb(33, 37, 41);
  text-size-adjust: 100%;
  text-transform: uppercase;
  transform-origin: 92.5188px 26px;
  user-select: none;
  vertical-align: middle;
  width: 185.038px;
  background: rgb(248, 249, 250) none repeat scroll 0% 0%/auto padding-box border-box;
  border: 0.8px solid rgb(248, 249, 250);
  border-radius: 3.2px;
  font: 13px/19.5px "Source Sans Pro", sans-serif;
  margin: 8px 0px;
  outline: rgb(33, 37, 41) none 0px;
  padding: 4px 16px;
  transition: none 0s ease 0s;
} /*#BUTTON_9*/
#P_10 {
  block-size: 48px;
  border-block-end-color: rgba(255, 255, 255, 0.75);
  border-block-start-color: rgba(255, 255, 255, 0.75);
  border-inline-end-color: rgba(255, 255, 255, 0.75);
  border-inline-start-color: rgba(255, 255, 255, 0.75);
  box-sizing: border-box;
  caret-color: rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
  column-rule-color: rgba(255, 255, 255, 0.75);
  inline-size: 196.663px;
  letter-spacing: 0.24px;
  margin-block-end: 27.2px;
  margin-block-start: 0px;
  perspective-origin: 98.325px 24px;
  text-align: center;
  text-decoration: none solid rgba(255, 255, 255, 0.75);
  text-emphasis-color: rgba(255, 255, 255, 0.75);
  text-size-adjust: 100%;
  transform-origin: 98.3313px 24px;
  width: 196.663px;
  border: 0px none rgba(255, 255, 255, 0.75);
  font: 13.6px/24px "Source Sans Pro", sans-serif;
  margin: 0px 0px 27.2px;
  outline: rgba(255, 255, 255, 0.75) none 0px;
} /*#P_10*/
.sidebar {
  position: fixed;
  top: 0px;
  left: -15rem;
  height: 100%;
  width: 15rem;
  transition: left 0.3s ease-in-out;
  background-color: rgb(24, 27, 30);
  color: white;
  display: none;
  z-index: 5;
}

.sidebar-toggle-sticky {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  top: 1vw;
  left: 16rem;
  height: 38px;
  width: 54px;
  z-index: 1;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
}
.sidebar-toggle-sticky img {
  filter: invert(100%) sepia(53%) saturate(1%) hue-rotate(298deg) brightness(107%) contrast(101%);
}

.sidebar-toggle-static {
  position: fixed;
  right: 1rem;
  top: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  height: 38px;
  width: 54px;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  background-color: rgba(105, 103, 103, 0.7);
}
.sidebar-toggle-static img {
  filter: invert(100%) sepia(53%) saturate(1%) hue-rotate(298deg) brightness(107%) contrast(101%);
}

.sidebar-toggle-container {
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 50px !important;
  height: auto;
  z-index: 4;
  display: none;
  margin-bottom: 50px;
}

.content {
  width: auto;
  transition: left 0.3s ease-in-out;
  background-color: lightgray;
}

.sidebar.open {
  left: 0;
}

.content.open {
  left: 15vw;
}

@media screen and (max-width: 736px) {
  .sidebar {
    display: block;
  }
  .sidebar-toggle-container {
    display: block;
  }
}
.sidebar-link {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.85em;
  letter-spacing: 0.15em;
  height: 44px;
  line-height: 44px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(255, 255, 255, 0.05);
  margin: 0 15px 0 15px;
}

.carousel-height {
  height: 90vh;
}

.control-dots {
  text-align: start !important;
}

.carousel-content {
  padding-top: 100px;
  padding-bottom: 100px;
  position: absolute;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.carousel-background {
  background-size: cover;
  background-position: center;
  background-image: url("../../public/Images/carousel1.png");
  z-index: -1;
  width: 100%;
  height: 100%;
  position: fixed;
  filter: blur(5px) brightness(0.7);
  top: 0;
}

.dark-blur {
  filter: blur(5px) brightness(0.7);
}

.bright-blur {
  filter: blur(5px) brightness(1);
}

@media screen and (max-width: 736px) {
  .control-arrow {
    display: none;
  }
  .carousel-content {
    padding-top: 0;
  }
  .carousel-height {
    height: 80vh;
  }
}
.carousel-content-container {
  display: flex;
  flex-direction: row;
  width: 80%;
}
.carousel-content-container * {
  font-family: "Montserrat", sans-serif;
}
.carousel-content-container h3 {
  font-size: 1.5em;
}
@media screen and (max-width: 736px) {
  .carousel-content-container {
    align-items: center !important;
    text-align: center !important;
    width: 90%;
    flex-direction: column;
  }
}

.carousel-title {
  color: rgb(103, 210, 255);
  letter-spacing: 0.25em;
  font-weight: 800;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 736px) {
  .carousel-title {
    padding-top: 8vh;
    letter-spacing: 0em;
  }
}

.carousel-subtitle {
  text-align: center;
}

.carousel-text {
  margin-top: 2vh;
  font-size: large;
}

.carousel-text-container {
  max-width: 60%;
}
@media screen and (max-width: 736px) {
  .carousel-text-container {
    max-width: 100%;
    align-items: center;
  }
}

.carousel-content-container.evenly-spaced {
  justify-content: space-evenly;
  text-align: start;
}

.carousel-content-container.left {
  align-items: flex-start;
  text-align: start;
}

.carousel-content-container.center {
  align-items: center;
  text-align: center;
}

/*# sourceMappingURL=app.css.map */
