* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.wrapper .title {
  color: rgb(255, 255, 255);
  letter-spacing: 3.6px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: -46.8px;
  background: rgb(58, 197, 255) url("./overlay.png") repeat scroll 0% 0%/auto padding-box border-box;
  font: 700 14.4px/46.8px "Source Sans Pro", sans-serif;
  width: 360px;
  padding: 7.2px;
}
.wrapper .title:after {
  content: "";
  display: block;
  height: 38px;
  position: absolute;
  right: -35px;
  top: 46.8px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 35px;
  background: rgba(0, 0, 0, 0) url("./shadow.png") repeat scroll 0% 0%/auto padding-box border-box;
}
@media screen and (max-width: 736px) {
  .wrapper .title:after {
    display: none;
  }
}
.wrapper .title:before {
  content: "";
  display: block;
  height: 38px;
  left: -35px;
  position: absolute;
  top: 46.8px;
  width: 35px;
  background: rgba(0, 0, 0, 0) url("./shadow.png") repeat scroll 0% 0%/auto padding-box border-box;
}
@media screen and (max-width: 736px) {
  .wrapper .title:before {
    display: none;
  }
}
@media screen and (max-width: 736px) {
  .wrapper .title {
    max-width: 60vw;
  }
}

.wrapper .title.red {
  color: rgb(255, 255, 255);
  letter-spacing: 3.6px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: -46.8px;
  background: rgb(255, 0, 0) url("./overlay.png") repeat scroll 0% 0%/auto padding-box border-box;
  font: 700 14.4px/46.8px "Source Sans Pro", sans-serif;
  width: 360px;
  padding: 7.2px;
}
.wrapper .title.red:after {
  content: "";
  display: block;
  height: 38px;
  position: absolute;
  right: -35px;
  top: 46.8px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 35px;
  background: rgba(0, 0, 0, 0) url("./shadow.png") repeat scroll 0% 0%/auto padding-box border-box;
}
@media screen and (max-width: 736px) {
  .wrapper .title.red:after {
    display: none;
  }
}
.wrapper .title.red:before {
  content: "";
  display: block;
  height: 38px;
  left: -35px;
  position: absolute;
  top: 46.8px;
  width: 35px;
  background: rgba(0, 0, 0, 0) url("./shadow.png") repeat scroll 0% 0%/auto padding-box border-box;
}
@media screen and (max-width: 736px) {
  .wrapper .title.red:before {
    display: none;
  }
}
@media screen and (max-width: 736px) {
  .wrapper .title.red {
    max-width: 60vw;
  }
}

.wrapper .title.black {
  color: rgb(255, 255, 255);
  letter-spacing: 3.6px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: -46.8px;
  background: rgb(40, 40, 40) url("./overlay.png") repeat scroll 0% 0%/auto padding-box border-box;
  font: 700 14.4px/46.8px "Source Sans Pro", sans-serif;
  width: 360px;
  padding: 7.2px;
}
.wrapper .title.black:after {
  content: "";
  display: block;
  height: 38px;
  position: absolute;
  right: -35px;
  top: 46.8px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 35px;
  background: rgba(0, 0, 0, 0) url("./shadow.png") repeat scroll 0% 0%/auto padding-box border-box;
}
@media screen and (max-width: 736px) {
  .wrapper .title.black:after {
    display: none;
  }
}
.wrapper .title.black:before {
  content: "";
  display: block;
  height: 38px;
  left: -35px;
  position: absolute;
  top: 46.8px;
  width: 35px;
  background: rgba(0, 0, 0, 0) url("./shadow.png") repeat scroll 0% 0%/auto padding-box border-box;
}
@media screen and (max-width: 736px) {
  .wrapper .title.black:before {
    display: none;
  }
}
@media screen and (max-width: 736px) {
  .wrapper .title.black {
    max-width: 60vw;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgb(255, 255, 255);
  position: relative;
  width: 100%;
  background: rgb(58, 197, 255) url("./overlay.png") repeat scroll 0% 0%/auto padding-box border-box;
  font: 16px/24px "Source Sans Pro", sans-serif;
  padding: 50px 0px 112px;
  bottom: 0;
}

.wrapper.red {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgb(255, 255, 255);
  position: relative;
  width: 100%;
  background: rgb(255, 0, 0) url("./overlay.png") repeat scroll 0% 0%/auto padding-box border-box;
  font: 16px/24px "Source Sans Pro", sans-serif;
  padding: 50px 0px 112px;
  bottom: 0;
}

.wrapper.black {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgb(255, 255, 255);
  position: relative;
  width: 100%;
  background: rgb(40, 40, 40) url("./overlay.png") repeat scroll 0% 0%/auto padding-box border-box;
  font: 16px/24px "Source Sans Pro", sans-serif;
  padding: 50px 0px 112px;
  bottom: 0;
}

@media screen and (min-width: 737px) {
  #nav {
    display: block;
    left: 0;
    width: 100%;
    text-align: center;
    transition: all 0.5s ease-out;
    z-index: 3;
  }
  #nav ul {
    transition: all 0.5s ease-out;
    white-space: nowrap;
    display: inline-block;
  }
  #nav ul li {
    display: inline-block;
    text-align: center;
    padding: 0 1.5em 0 1.5em;
  }
  #nav ul li a,
  #nav ul li span {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.7em;
    letter-spacing: 0.25em;
    height: 5em;
    line-height: 5em;
    outline: 0;
    transition: all 0.5s ease-out;
  }
  #nav ul li a:hover,
  #nav ul li span:hover {
    color: orange;
  }
  #nav.sticky {
    position: fixed;
  }
  #nav.sticky ul {
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.6);
  }
  #nav.sticky ul:hover {
    background-color: rgba(0, 0, 0, 0.85);
  }
  #nav.sticky ul li a {
    z-index: 3;
  }
  #nav.sticky2 {
    position: fixed;
    transform: translateY(10vh);
  }
  #nav.sticky2 ul {
    width: 775px;
    backdrop-filter: blur(10px);
    border-radius: 0.35em;
    box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
    background-color: rgba(0, 0, 0, 0.6);
  }
  #nav.sticky2 ul:hover {
    background-color: rgba(0, 0, 0, 0.85);
  }
  #nav.sticky2 ul li a {
    z-index: 3;
  }
  #nav.static {
    position: fixed;
  }
  #nav.static ul {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    padding: 1vh;
    background-color: rgb(10, 10, 50);
  }
  #nav.static ul:hover {
    background-color: rgb(40, 40, 80);
  }
  #nav.static ul li a {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.25em;
    height: 5em;
    line-height: 5em;
    outline: 0;
  }
}
@media screen and (max-width: 736px) {
  #nav {
    display: none;
  }
}
.header .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#SECTION_3 {
  border-block-end-color: rgba(255, 255, 255, 0.75);
  border-block-start-color: rgba(255, 255, 255, 0.75);
  border-end-end-radius: 25px;
  border-end-start-radius: 25px;
  border-inline-end-color: rgba(255, 255, 255, 0.75);
  border-inline-start-color: rgba(255, 255, 255, 0.75);
  border-start-end-radius: 25px;
  border-start-start-radius: 25px;
  box-sizing: border-box;
  caret-color: rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
  column-rule-color: rgba(255, 255, 255, 0.75);
  inline-size: 720px;
  letter-spacing: 0.24px;
  margin-inline-end: 120px;
  margin-inline-start: 120px;
  max-inline-size: 720px;
  max-width: 720px;
  padding-block-start: 20px;
  padding-inline-end: 15px;
  padding-inline-start: 15px;
  perspective-origin: 360px 481.725px;
  text-align: left;
  text-decoration: none solid rgba(255, 255, 255, 0.75);
  text-emphasis-color: rgba(255, 255, 255, 0.75);
  text-size-adjust: 100%;
  transform-origin: 360px 481.731px;
  width: 720px;
  background: rgb(0, 157, 205) none repeat scroll 0% 0%/auto padding-box border-box;
  border: 0px none rgba(255, 255, 255, 0.75);
  border-radius: 25px;
  font: 16px/24px "Source Sans Pro", sans-serif;
  margin: 0px 120px;
  outline: rgba(255, 255, 255, 0.75) none 0px;
  padding: 20px 15px 0px;
} /*#SECTION_3*/
#DIV_4 {
  border-block-end-color: rgba(255, 255, 255, 0.75);
  border-block-start-color: rgba(255, 255, 255, 0.75);
  border-inline-end-color: rgba(255, 255, 255, 0.75);
  border-inline-start-color: rgba(255, 255, 255, 0.75);
  box-sizing: border-box;
  caret-color: rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
  column-rule-color: rgba(255, 255, 255, 0.75);
  inline-size: 690px;
  letter-spacing: 0.24px;
  padding-inline-end: 15px;
  padding-inline-start: 15px;
  perspective-origin: 345px 489.225px;
  text-align: left;
  text-decoration: none solid rgba(255, 255, 255, 0.75);
  text-emphasis-color: rgba(255, 255, 255, 0.75);
  text-size-adjust: 100%;
  transform-origin: 345px 489.231px;
  width: 690px;
  border: 0px none rgba(255, 255, 255, 0.75);
  font: 16px/24px "Source Sans Pro", sans-serif;
  outline: rgba(255, 255, 255, 0.75) none 0px;
  padding: 0px 15px;
} /*#DIV_4*/
#DIV_5 {
  border-block-end-color: rgba(0, 0, 0, 0);
  border-block-end-style: solid;
  border-block-end-width: 0.8px;
  border-block-start-color: rgba(255, 255, 255, 0.75);
  border-inline-end-color: rgba(255, 255, 255, 0.75);
  border-inline-start-color: rgba(255, 255, 255, 0.75);
  box-sizing: border-box;
  caret-color: rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
  column-rule-color: rgba(255, 255, 255, 0.75);
  display: flex;
  inline-size: 695px;
  justify-content: center;
  letter-spacing: 0.24px;
  margin-block-end: -1px;
  margin-block-start: -35px;
  margin-inline-start: -35px;
  perspective-origin: 347.5px 489.225px;
  text-align: left;
  text-decoration: none solid rgba(255, 255, 255, 0.75);
  text-emphasis-color: rgba(255, 255, 255, 0.75);
  text-size-adjust: 100%;
  transform-origin: 347.5px 489.231px;
  width: 695px;
  border-top: 0px none rgba(255, 255, 255, 0.75);
  border-right: 0px none rgba(255, 255, 255, 0.75);
  border-bottom: 0.8px solid rgba(0, 0, 0, 0);
  border-left: 0px none rgba(255, 255, 255, 0.75);
  flex-flow: row wrap;
  font: 16px/24px "Source Sans Pro", sans-serif;
  margin: -35px 0px -1px -35px;
  outline: rgba(255, 255, 255, 0.75) none 0px;
} /*#DIV_5*/
#DIV_6 {
  border-block-end-color: rgba(255, 255, 255, 0.75);
  border-block-start-color: rgba(255, 255, 255, 0.75);
  border-inline-end-color: rgba(255, 255, 255, 0.75);
  border-inline-start-color: rgba(255, 255, 255, 0.75);
  bottom: 0px;
  box-sizing: border-box;
  caret-color: rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
  column-rule-color: rgba(255, 255, 255, 0.75);
  float: left;
  inline-size: 231.663px;
  inset-block-end: 0px;
  inset-block-start: 0px;
  inset-inline-end: 0px;
  inset-inline-start: 0px;
  left: 0px;
  letter-spacing: 0.24px;
  max-inline-size: 33.3333%;
  max-width: 33.3333%;
  min-block-size: auto;
  min-height: auto;
  min-inline-size: auto;
  min-width: auto;
  padding-block-start: 35px;
  padding-inline-start: 35px;
  perspective-origin: 115.825px 488.825px;
  position: relative;
  right: 0px;
  text-align: center;
  text-decoration: none solid rgba(255, 255, 255, 0.75);
  text-emphasis-color: rgba(255, 255, 255, 0.75);
  text-size-adjust: 100%;
  top: 0px;
  transform-origin: 115.831px 488.831px;
  width: 231.663px;
  border: 0px none rgba(255, 255, 255, 0.75);
  flex: 0 0 33.3333%;
  font: 16px/24px "Source Sans Pro", sans-serif;
  outline: rgba(255, 255, 255, 0.75) none 0px;
  padding: 35px 0px 0px 35px;
} /*#DIV_6*/
#A_8 {
  border-block-end-color: rgb(255, 255, 255);
  border-block-start-color: rgb(255, 255, 255);
  border-inline-end-color: rgb(255, 255, 255);
  border-inline-start-color: rgb(255, 255, 255);
  box-sizing: border-box;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  column-rule-color: rgb(255, 255, 255);
  letter-spacing: 0.24px;
  perspective-origin: 0px 0px;
  text-align: center;
  text-decoration: underline solid rgb(255, 255, 255);
  text-emphasis-color: rgb(255, 255, 255);
  text-size-adjust: 100%;
  transform-origin: 0px 0px;
  border: 0px none rgb(255, 255, 255);
  font: 16px/24px "Source Sans Pro", sans-serif;
  outline: rgb(255, 255, 255) none 0px;
  transition: color 0.25s ease-in-out 0s;
} /*#A_8*/
#BUTTON_9 {
  appearance: button;
  block-size: 52px;
  border-block-end-color: rgb(248, 249, 250);
  border-block-end-style: solid;
  border-block-end-width: 0.8px;
  border-block-start-color: rgb(248, 249, 250);
  border-block-start-style: solid;
  border-block-start-width: 0.8px;
  border-end-end-radius: 3.2px;
  border-end-start-radius: 3.2px;
  border-inline-end-color: rgb(248, 249, 250);
  border-inline-end-style: solid;
  border-inline-end-width: 0.8px;
  border-inline-start-color: rgb(248, 249, 250);
  border-inline-start-style: solid;
  border-inline-start-width: 0.8px;
  border-start-end-radius: 3.2px;
  border-start-start-radius: 3.2px;
  caret-color: rgb(33, 37, 41);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  cursor: pointer;
  inline-size: 185.038px;
  letter-spacing: 3.25px;
  margin-block-end: 8px;
  margin-block-start: 8px;
  min-inline-size: 156px;
  min-width: 156px;
  padding-block-end: 4px;
  padding-block-start: 4px;
  padding-inline-end: 16px;
  padding-inline-start: 16px;
  perspective-origin: 92.5125px 26px;
  text-decoration: none solid rgb(33, 37, 41);
  text-emphasis-color: rgb(33, 37, 41);
  text-size-adjust: 100%;
  text-transform: uppercase;
  transform-origin: 92.5188px 26px;
  user-select: none;
  vertical-align: middle;
  width: 185.038px;
  background: rgb(248, 249, 250) none repeat scroll 0% 0%/auto padding-box border-box;
  border: 0.8px solid rgb(248, 249, 250);
  border-radius: 3.2px;
  font: 13px/19.5px "Source Sans Pro", sans-serif;
  margin: 8px 0px;
  outline: rgb(33, 37, 41) none 0px;
  padding: 4px 16px;
  transition: none 0s ease 0s;
} /*#BUTTON_9*/
#P_10 {
  block-size: 48px;
  border-block-end-color: rgba(255, 255, 255, 0.75);
  border-block-start-color: rgba(255, 255, 255, 0.75);
  border-inline-end-color: rgba(255, 255, 255, 0.75);
  border-inline-start-color: rgba(255, 255, 255, 0.75);
  box-sizing: border-box;
  caret-color: rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
  column-rule-color: rgba(255, 255, 255, 0.75);
  inline-size: 196.663px;
  letter-spacing: 0.24px;
  margin-block-end: 27.2px;
  margin-block-start: 0px;
  perspective-origin: 98.325px 24px;
  text-align: center;
  text-decoration: none solid rgba(255, 255, 255, 0.75);
  text-emphasis-color: rgba(255, 255, 255, 0.75);
  text-size-adjust: 100%;
  transform-origin: 98.3313px 24px;
  width: 196.663px;
  border: 0px none rgba(255, 255, 255, 0.75);
  font: 13.6px/24px "Source Sans Pro", sans-serif;
  margin: 0px 0px 27.2px;
  outline: rgba(255, 255, 255, 0.75) none 0px;
} /*#P_10*/
.sidebar {
  position: fixed;
  top: 0px;
  left: -15rem;
  height: 100%;
  width: 15rem;
  transition: left 0.3s ease-in-out;
  background-color: rgb(24, 27, 30);
  color: white;
  display: none;
  z-index: 5;
}

.sidebar-toggle-sticky {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  top: 1vw;
  left: 16rem;
  height: 38px;
  width: 54px;
  z-index: 1;
  backdrop-filter: blur(10px);
  background-color: rgba(92, 95, 103, 0.5);
}
.sidebar-toggle-sticky img {
  filter: invert(100%) sepia(53%) saturate(1%) hue-rotate(298deg) brightness(107%) contrast(101%);
}

.sidebar-toggle-static {
  position: fixed;
  right: 1rem;
  top: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  height: 38px;
  width: 54px;
  z-index: 1;
  backdrop-filter: blur(10px);
  background-color: rgba(92, 95, 103, 0.5);
}
.sidebar-toggle-static img {
  filter: invert(100%) sepia(53%) saturate(1%) hue-rotate(298deg) brightness(107%) contrast(101%);
}

.sidebar-toggle-container {
  top: 0;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 50px !important;
  height: auto;
  z-index: 4;
  display: none;
  margin-bottom: 50px;
}

.content {
  width: auto;
  transition: left 0.3s ease-in-out;
  background-color: lightgray;
}

.sidebar.open {
  left: 0;
}

.content.open {
  left: 15vw;
}

@media screen and (max-width: 736px) {
  .sidebar {
    display: block;
  }
  .sidebar-toggle-container {
    display: block;
  }
}
.sidebar-link {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.85em;
  letter-spacing: 0.15em;
  height: 44px;
  line-height: 44px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(255, 255, 255, 0.05);
  margin: 0 15px 0 15px;
}

.carousel-height {
  height: 80vh;
}

.control-dots {
  text-align: start !important;
}

.carousel-content {
  padding-top: 100px;
  position: absolute;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.carousel-background {
  background-size: cover;
  background-position: center;
  background-image: url("../../public/Images/carousel1.png");
  z-index: -1;
  width: 100%;
  height: 100%;
  position: fixed;
  filter: blur(5px) brightness(0.7);
  top: 0;
}

@media screen and (max-width: 736px) {
  .control-arrow {
    display: none;
  }
  .carousel-content {
    padding-top: 0;
  }
  .carousel-height {
    height: 50vh;
  }
}
.carousel-title {
  color: rgb(103, 210, 255);
  letter-spacing: 0.25em;
  font-size: 2em;
  font-weight: 800;
  text-shadow: -1px -1px 0 rgb(13, 120, 165), 0 -1px 0 rgb(13, 120, 165), 1px -1px 0 rgb(13, 120, 165), 1px 0 0 rgb(13, 120, 165), 1px 1px 0 rgb(13, 120, 165), 0 1px 0 rgb(13, 120, 165), -1px 1px 0 rgb(13, 120, 165), -1px 0 0 rgb(13, 120, 165);
}

.carousel-content-container.right {
  align-items: flex-end;
  text-align: end;
}

.carousel-content-container.left {
  align-items: flex-start;
  text-align: start;
}

.carousel-content-container.center {
  align-items: center;
  text-align: center;
}

.carousel-content-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.carousel-content-container * {
  font-family: "Montserrat", sans-serif;
}
.carousel-content-container h3 {
  font-size: 1.5em;
}

@media screen and (max-width: 736px) {
  .carousel-title {
    padding-top: 8vh;
    font-size: 1.3em;
  }
  .carousel-content-container {
    align-items: center !important;
    text-align: center !important;
  }
  .carousel-content-container h3 {
    font-size: 1em;
  }
}

/*# sourceMappingURL=app.css.map */
