.wrapper {
    @include divider-content
}

.wrapper.light-blue {
    @include divider-content($divider-light-blue);
    color: rgba($color: #000000, $alpha: 0.8);

    & .title { color: rgba($color: #000000, $alpha: 0.8); }
}

.wrapper.red {
    @include divider-content($red)
}

.wrapper.black {
    @include divider-content($black)
}

.blank-container {
    width: 100%;
    display: flex;
    flex-direction: row;

    padding: 0px 10% 5% 10%;

    align-items: center;
    justify-content: center;

    & h1 { margin: 5vh; }

    @media screen and (max-width: 736px) { padding: 0 10% 12% 10%; }
}