.wrapper {
    @include divider-content($secondary)
}

.wrapper.light-blue {
    @include divider-content($primary);
    color: rgba($color: #FFFFFF, $alpha: 0.8);

    & .title { color: rgba($color: #FFFFFF, $alpha: 1); }
}

.wrapper.red {
    @include divider-content($red)
}

.wrapper.grey {
    @include divider-content($grey)
}

.wrapper.black {
    @include divider-content($black)
}

.blank-container {
    width: 100%;
    display: flex;
    flex-direction: row;

    padding: 0px 10% 5% 10%;

    align-items: center;
    justify-content: center;

    & h1 { margin: 5vh; }

    @media screen and (max-width: 736px) { padding: 0 10% 12% 10%; }
}