.wrapper {
    @include divider-content
}

.wrapper.red {
    @include divider-content($red)
}

.wrapper.black {
    @include divider-content($black)
}

.blank-container {
    width: 100%;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    & h1 {
        margin: 5vh;
    }
}