.free-trial {
  width: 40vh;
  height: 40vh;

  align-self: center;

  @media screen and (max-width: 736px) {
    width: auto;
    height: 40vh;
  }

  margin-bottom: 5vh;

  &:hover {
    transform: scale(1.05);
  }
}

$desktop-size: 200px;
$mobile-size: 40vh;

.free-trial-warning {
  background: rgb(156, 46, 22);
  background: linear-gradient(
    0deg,
    rgba(156, 46, 22, 1) 0%,
    rgba(231, 14, 14, 1) 100%
  );

  display: flex;

  justify-content: center;
  align-items: center;

  align-self: center;

  border-radius: 50%;
  position: absolute;

  width: $desktop-size;
  height: $desktop-size;

  opacity: 0.6;

  border: 6px solid white;

  &:hover {
    opacity: 1;
    transform: scale(1.1);

    @media screen and (min-width: 737px) {
      width: 220px;
      height: 220px;
    }
  }

  @media screen and (min-width: 737px) {
    right: 20%;
  }

  @media screen and (max-width: 736px) {
    width: 80vw;
    height: 15vh;
    right: 0;
    bottom: 2rem;
    margin-top: 40px;

    position: relative;
    border-radius: 25px;
  }
  bottom: 2rem;

  padding: 7%;

  cursor: pointer;

  text-align: center;

  //animation: bobbing 1s infinite alternate;
}

/*backgroundColor: "red", 
          display: "flex", 
          justifyItems: "center", 
          alignItems: "center",
          borderRadius: "50%",
          width: "200px",
          height: "200px",
          position: "absolute",
          bottom: "10px",
          left: "10%"
          */
