$features-image-url: "/Images/features/features.jpg";
$features-image-url-mobile: "/Images/features/features-mobile.jpg";
//$features-image-tint: rgba(0,0,255,0.3);
$features-image-tint: rgba($senary, 0.7);

//$mobile-background-color: rgb(53,154,185);
$mobile-background-color: rgba($primary, 1);
$line-color: rgba(#000000,0.3);

.features-container {
    @include background-tint($features-image-tint, $features-image-url);
    background-size: cover;

    & h1,h2 {
        color: white;
        @include standard-text-shadow;
        margin: 5vh;

        &:hover {transform: scale(1.05);}
    }

    @media screen and (max-width: 736px){
        background-size: auto;
        background-color: #6372d9;
        background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
} 

.cards-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;

    width: 70vw;

    @media screen and (max-width: 736px){}

    @media screen and (min-width: 737px){
        max-height: 150vh;
        justify-content: space-evenly;
    }
}