/* Error: Undefined mixin.
 *    ,
 * 11 | .semicircle-shadow { @include bottom-shadow; }
 *    |                      ^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   scss\components\dividers\semicircle.scss 11:22  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 11 \2502  .semicircle-shadow { @include bottom-shadow; }\d\a    \2502                       ^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   scss\\components\\dividers\\semicircle.scss 11:22  root stylesheet";
}
