.pricing-card {
    width: 20vw;
    margin: 1rem 0.5rem 1rem 0.5rem;

    @media screen and (max-width: 736px) {
        width: 80vw;
    }
}

.card-ul {
    & li{
        margin-bottom: 0.5rem;
    }
}

.pricing-bg {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}