.carousel-content-container {
    display: flex;
    flex-direction: row;

    width: 80%;

    & *{ font-family: 'Montserrat', sans-serif; }

    & h3{ font-size: 1.5em; }

    @media screen and (max-width: 736px) { 
        align-items: center !important; 
        text-align: center !important;

        width: 90%;
        flex-direction: column;
    }
}

.carousel-title {
    color: $title-blue;
    letter-spacing: 0.25em;
    //font-size: xx-large;
    font-weight: 800;

    //text-transform: uppercase;

    //@include stroke($title-blue-dark);

    text-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.5);

    @media screen and (max-width: 736px) { 
        padding-top: 8vh; 
        //font-size: x-large;
        letter-spacing: 0em;
        //text-align: justify;
    }
}

.carousel-subtitle{
    text-align: center;
}

.carousel-text{
    margin-top: 2vh;
    font-size: large;
}

.carousel-text-container{
    max-width: 60%;

    @media screen and (max-width: 736px){
        max-width: 100%;
        align-items: center;
    }
}

//Directions
.carousel-content-container.evenly-spaced{
    justify-content: space-evenly;
    text-align: start;
}

.carousel-content-container.left{
    align-items: flex-start;
    text-align: start;
}

.carousel-content-container.center{
    align-items: center;
    text-align: center;
}

.carousel-free-trial-image {
    cursor: pointer;
    
    height: 100%;
    width: auto;

    animation: growShrink 4s infinite;

    @media screen and (min-width: 737px){
        //position:relative;
        left: 10vw;
    }

    @media screen and (max-width: 736px){
        padding-top: 110px;
        width: 75vw !important;
        height: auto;
    }
}

#livepanel {
    border-radius: 15px;

    @media screen and (min-width: 737px){
        width: 30vw;
        margin: 10px;
    }

    @media screen and (max-width: 736px){
        height: 20vh;
        margin: 2vh;
        width: auto;
    } 

    &:hover {
        border-radius: 0;
    }
}