@media screen and (min-width: 737px) {
  #nav {
    display: block;
    left: 0;
    width: 100%;
    text-align: center;
    transition: $transition-speed;
    z-index: 3;

    & ul {
      transition: $transition-speed;
      white-space: nowrap;
      display: inline-block;

      & li {
        display: inline-block;
        text-align: center;
        padding: 0 1.5em 0 1.5em;

        & a,
        span {
          text-transform: uppercase;
          text-decoration: none;
          font-size: 0.7em;
          letter-spacing: 0.25em;
          height: 5em;
          line-height: 5em;
          outline: 0;
          transition: $transition-speed;
          &:hover {
            color: $navbar-text-hover !important;
          }
        }
      }
    }
  }

  #nav.sticky {
    position: fixed;

    & ul {
      width: 100%;
      backdrop-filter: blur(10px);

      background-color: $navbar-sticky-color;
      &:hover {
        background-color: $navbar-sticky-color-hover;
      }
      & li a {
        color: $navbar-text-sticky;
        z-index: 3;
      }
    }
  }

  //Animacion original
  #nav.sticky2 {
    position: fixed;
    transform: translateY(10vh);

    & ul {
      width: 775px;
      backdrop-filter: blur(10px);
      border-radius: 0.35em;
      box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);

      background-color: $navbar-sticky-color;
      &:hover {
        background-color: $navbar-sticky-color-hover;
      }
      & li a {
        z-index: 3;
      }
    }
  }

  #nav.static {
    position: fixed;
    //top: 0px;
    & ul {
      width: 100%;
      border-radius: 0;
      box-shadow: none;
      padding: 1vh;

      background-color: $navbar-static-color;
      &:hover {
        background-color: $navbar-static-color-hover;
      }

      & li a {
        text-transform: uppercase;
        text-decoration: none;
        //font-size: 0.8em;
        letter-spacing: 0.25em;
        height: 5em;
        line-height: 5em;
        outline: 0;
        color: $navbar-text-static;
      }
    }
  }
}

//Don't render in mobile
@media screen and (max-width: 736px) {
  #nav {
    display: none;
  }
}
