$sidebar-width: 15rem;

.sidebar {
    position: fixed;
    top: 0px;
    left: -$sidebar-width;

    height: 100%;
    width: $sidebar-width;

    transition: left 0.3s ease-in-out;
    background-color: $deep-blue;

    color:white;

    display: none;

    z-index: 5;
  }

  .sidebar-toggle-sticky {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0.25rem;

    top: 1vw;
    left: $sidebar-width + 0.5rem;

    height: 38px;
    width: 54px;
    z-index: 1;

    backdrop-filter: blur(10px);

    background-color: $black-transparent;
      & img{
        filter: invert(100%) sepia(53%) saturate(1%) hue-rotate(298deg) brightness(107%) contrast(101%);
      }
  }

  .sidebar-toggle-static {
    position: fixed;

    right: 1rem;
    top: 1vw;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0.25rem;

    height: 38px;
    width: 54px;
    z-index: 1;
    border: 1px solid rgba($color: #000000, $alpha: 0.1);

    backdrop-filter: blur(10px);

    background-color: rgba($color: rgb(105, 103, 103), $alpha: 0.7);
      & img{
        filter: invert(100%) sepia(53%) saturate(1%) hue-rotate(298deg) brightness(107%) contrast(101%);
      }
  }

  .sidebar-toggle-container{
    top: 0;
    position: fixed;

    background-color: $black-transparent;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 50px !important;

    height: auto;

    z-index: 4;

    display: none;

    margin-bottom: 50px;
  }

  .content {
    width: auto;
    transition: left 0.3s ease-in-out;
    background-color: lightgray;
  }
  
  .sidebar.open {
    left: 0;
  }
  .content.open {
    left: 15vw;
  }

  //Responsiveness
@media screen and (max-width: 736px) {
  .sidebar { display: block; }
  .sidebar-toggle-container{ display: block;}
}

//Sidebar Links
.sidebar-link {
  display: block;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.85em;
    letter-spacing: 0.15em;
    height: 44px;
    line-height: 44px;
    //border-top: solid 1px rgba(255, 255, 255, 0.05);
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(255, 255, 255, 0.05);
    margin: 0 15px 0 15px;

}