$header-contact-image-url: "../../../public/Images/teen2.png";
$header-contact-image-tint: rgba(0,0,255,0.3);

$body-contact-image-url: "../../../public/Images/Contact/contacto.jpg";
$body-contact-image-tint: rgba(gray,0.5);


.header-contact-image {
    @include background-tint($header-contact-image-tint, $header-contact-image-url);

    background-size: cover;

    width: 100%;
    height: 100%;

    filter: brightness(0.85) blur(2px);
}


.header-contact {
    & h1 {
        position: absolute;
        text-align: center;
        color: white;
        text-shadow: 2px 2px 3px rgba($color: #000000, $alpha: 0.9);

        font-size: 7vw;
        
        &:hover{ color: antiquewhite; }

        @media screen and (max-width: 736px) {
            font-size: 20vw;
            &:hover{ font-size: 21vw; }
        }
    }
}

.contact-body {
    background-size: cover;
    width: 100%;
    height: 100%;

    * {
        @include standard-text-shadow;
    }
}