$red: rgb(255,0,0);
$black: rgb(40,40,40);
$light-blue: #CCE7FD;

$contact-background: rgba(55, 222, 169, 0.5);
$footer-background: rgba(0,0,0,0.9);

$divider-light-blue: #CCE7FD;

$navbar-text-static: black;
$navbar-text-sticky: white;

$navbar-text-hover: orange;

$navbar-static-color: rgba(255,255,255,0.6);
$navbar-static-color-hover: rgba(255,255,255,1);

$navbar-sticky-color: rgba(0,0,0, 0.4);
$navbar-sticky-color-hover: rgba(0,0,0,0.85);

$black-transparent: rgba(92, 95, 103, 0.5);
$deep-blue: rgb(24,27,30);

$scrollbar-thumb-color: rgba(0,0,0, 0.4);
$scrollbar-track-color: rgba(255,255,255, 0.4);

$title-blue: rgb(103, 210, 255);
$title-blue-dark: rgb(13, 120, 165);

$icon-border-color: rgb(13, 120, 165);
$icon-border-color-hover: rgb(103, 210, 255);