@font-face {
    font-family: 'Montserrat';
    //src: url('../../public/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }