.row-column {
  display: flex;
  @media screen and (min-width: 737px) {
    flex-direction: row;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
  }

  @media screen and (max-width: 736px) {
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
  }
}
