$transition-speed: all 0.5s ease-out;

.desktop-only {
    @media screen and (max-width: 736px) { display: none !important; }
}

.mobile-only {
    @media screen and (min-width: 737px) { display: none !important; }
}

.row-column {
    display: flex;
    @media screen and (min-width: 737px) {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      //align-items: flex-start;
      align-content: stretch;
    }
  
    @media screen and (max-width: 736px) {
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      align-content: stretch;
    }
  }

  .responsive-picture {
    bottom: 0px; 
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    @media screen and (min-width: 737px) {
      width: 30vw; 
    }

    @media screen and (max-width: 736px) {
      height: 40vh; 
    }
  }

  .bob-on-hover { &:hover {animation: bobbing 0.5s infinite alternate;} }

  .change-on-hover {
    & .primary { display: block; }
    & .secondary { display: none; }

    &:hover {
      & .primary { display: none; }
      & .secondary { display: block; }
    }
  }

  .responsive-padding {
    @media screen and (min-width: 737px) {
      padding-left: 20%;
      padding-right: 20%;
      padding-top: 2%;
      padding-bottom: 10%;
    }

    @media screen and (max-width: 736px) {
      padding: 10%;
    }
  }

  .grey-on-hover{
    &:hover{
      color: grey;
    }
  }

  .grow-on-hover {
    &:hover {
      transform: scale(1.2);
    }
  }

  .subtitle {
    opacity: 0.1;
    z-index: 1;
    position: relative;
    justify-self: center;
    text-align: center;

    text-transform: uppercase;
    font-weight: bold;

    transform: translate(0%, 100%) scale(1);
    margin: 0;
  }

  .h1 {
    font-size: 2em; /* Adjust size as needed */
    font-weight: bold; /* Mimic boldness of <h1> */
    /* Additional styles if desired */
  }
  
  /* Mimic styles of <h2> */
  .h2 {
    font-size: 1.5em; /* Adjust size as needed */
    font-weight: bold; /* Mimic boldness of <h2> */
    /* Additional styles if desired */
  }
  
  /* Mimic styles of <h3> */
  .h3 {
    font-size: 1.17em; /* Adjust size as needed */
    font-weight: bold; /* Mimic boldness of <h3> */
    /* Additional styles if desired */
  }

  /* Mimic styles of <h4> */
.h4 {
  font-size: 1em; /* Adjust size as needed */
  font-weight: bold; /* Mimic boldness of <h4> */
  /* Additional styles if desired */
}

/* Mimic styles of <h5> */
.h5 {
  font-size: 0.83em; /* Adjust size as needed */
  font-weight: bold; /* Mimic boldness of <h5> */
  /* Additional styles if desired */
}
