$transition-speed: all 0.5s ease-out;

.desktop-only {
    @media screen and (max-width: 736px) { display: none !important; }
}

.mobile-only {
    @media screen and (min-width: 737px) { display: none !important; }
}

.row-column {
    display: flex;
    @media screen and (min-width: 737px) {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      //align-items: flex-start;
      align-content: stretch;
    }
  
    @media screen and (max-width: 736px) {
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      align-content: stretch;
    }
  }

  .responsive-picture {
    bottom: 0px; 
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    @media screen and (min-width: 737px) {
      width: 30vw; 
    }

    @media screen and (max-width: 736px) {
      height: 40vh; 
    }
  }